@font-face {
    font-family: 'Roboto Slab';
    src: url('../font/RobotoSlab-Bold.woff2') format('woff2'),
        url('../font/RobotoSlab-Bold.woff') format('woff'),
        url('../font/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html{
    font-size: 1px;
    font-family: "Arial";
}

body{
    margin: 0;
}

sup{
    font-size: 0.5em;
}

nav {
    background-color: #1f1f56;
}

.container_shadow{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.menu,
.menu p{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header_menu, 
.icon_container{
    display: flex;
    column-gap:20rem ;
    align-items: flex-end;
}

.header_menu a{
    color: #b1b1d2;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 24px;
    font-size: 14rem;
}

a:hover{
    cursor: url('img/icons/cursor.cur'), auto;
    /* cursor: url("img/icons/pointer.svg") , auto; */
}

.header_menu a:hover{
    color: #fd8300;   
}

.content_container {
    max-width: 960rem; 
    margin: auto;   
}

.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_container,
.contact_container{
    padding: 15rem 0; 
}


.icon:hover{
    background-position-y: 0px;
}

.icon {
    display: block;
    background-image: url(img/icons/icons.png);
}

.icon_facebook{
    width: 10px;
    height: 19px;
    background-position: 0 -21px;
    /* background-image: url("img/icons/fb.svg"); */
}

.icon_twitter{
    width: 18px;
    height: 15px;
    background-position: -12px -21px;
    /* background-image: url("img/icons/tw.svg"); */
}

.icon_instagram{
    width: 19px;
    height: 19px;
    background-position: -32px -21px;
    /* background-image: url("img/icons/inst.svg"); */
}

.container{
    min-width: 220rem;
    position: relative;
    /* font-weight: bold;
    font-family: "Arial"; */
}

.line-devide::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
    left: -20px;
    top: 7px;
}

.container--ref{
    position: relative;
    padding-left: 25px;
    color: #25252c;
    text-decoration: none;
    font-size: 18rem;
    font-weight: bold;
}
.container p{
    margin: 10px;
}
.container--ref::before{
    content: '';
    left: 0px; 
    top: 2px;
    position: absolute;
    background-image: url("img/icons/icons.png");
}


.container__phone--ref::before{
    width: 16rem;
    height: 17rem;
    /*background-image: url("img/icons/phone.svg");*/
    background-position: -53px 0;

}
.container__email--ref{
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
}

.container__email--ref::before{
    text-decoration: underline;
    width: 17rem;
    height: 17rem;
    /*background-image: url("img/icons/email.svg");*/
    background-position: -71px 0;
}

.container__skype--ref{
    font-weight: normal;
    font-size: 16px;
}

.container__skype--ref::before{
    width: 18rem;
    height: 19rem;
    /* background-image: url("img/icons/skype.svg"); */
    background-position: -90px 0;
}
.container_button{
    display: inline-block;
    padding: 13rem 30rem ;

    box-sizing: border-box;

    border: #fd8300 2rem solid;
    border-radius: 25pt;

    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.callback_button {
    
    width: 220px;
    background-color: #fff;
    color: #25252c;
    
}

.callback_button:hover{
    background-color: #fd8300;
    color: #fff;
}

.proposition{
    padding: 60px 0 45px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("img/background.jpg");
    background-size: cover;
    
}

.proposition p{
    margin: 0;
}

.proposition_header {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
}


.proposition_price{
    color: #fd8300;
    font-size: 40px;
    font-weight: bold;
}
p.proposition_text{
    margin: 10px 0;
}
.proposition_money{
    font-size: 24px;
}

.main_container{
    display: flex;
    justify-content: space-between;    
    padding: 40px 0 0;
}

.main_section{
    max-width: 714px;
}

.text_container h1{
    
    color: #24242b;
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Slab";
}
.index_header{
   margin: 0 0 15rem; 
}
.price_header{
    margin: 40rem 0 21rem;
}

.text_container{
    line-height: 24px;
    font-size: 14px;
}

.text_container p{
    color: #666;
}

.text_container a{
    color: #fd8300;
    font-weight: bold;
    text-decoration: none;
}
.text_container a:hover{
    text-decoration: underline;
}
.text_container table{
    width: 100%;
    margin: 26px auto;
    overflow:hidden;
    border-spacing: 0;
    border-radius: 3px;
}

.text_container thead{
    background-color: #1f1f56;
    color: #fff;

    text-align: left;
    
    font-weight: 700;
    font-family: "Roboto Slab";
}

.text_container tbody{
    background-color: #e4e4ec;
    color: #666666;
}

.text_container td, 
.text_container th{
    padding: 13px 21px;
    border-top:solid 1rem #cecedd;
}

.text_container tr td:last-child,
.text_container th:last-child
{
    text-align: right;
}

.text_container tbody tr:hover {
    background-color: #fd8300;
    color: #fff;
}

hr{
    border: none;
    border-top: 1px solid #e4e4ec;
    margin: 30rem 0;
}

h2{
    margin: 24px 0;
    color: #24242b;
    font-size: 24px;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.text_container .container strong{
    color: #1f1f56;
    font-weight: bold;
}

.text_container .container p{
    color: #9999a6;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.fig_container{
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
}

.fig_container a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.fig_card{
    margin: 0;
    width: 220px;
    position: relative;
}

.fig_card a{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.fig_card a:hover ~ figcaption h3{
    text-decoration: underline;
}

.fig_card h3{
    margin: 0;
}


.fig_card p{
    margin: 0;
    color: #9999a6;
    line-height: 18px;
    font-size: 13px;
}

.card_name{
    color: #1f1f56;
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}
.card_name:hover {
    text-decoration: underline;
}

.img_card{
    width: 100%;
}

.aside{
    width: 220rem;
    /* margin-bottom: auto; */
    color: #fff;
    overflow: hidden;
    border-radius: 3px;
    font-size: 14px;
}

.aside_header{
    background-color: #1f1f56;
    padding: 12px 16px;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.menu_paragraph{
    display: block;
    padding: 12px 16px;    
    background-color: #e4e4ec;

    border-top: 1px solid #cecedd;
    text-decoration: none;
}


.aside_menu_paragraph{
    position: relative;
    border-color: #cecedd;
    color: #25252c;
    list-style: none;
    background-image: url("img/icons/menu_on.svg");
    /* box-shadow: inset 0px -1px 0px #cecedd; */
}

.aside_menu_paragraph::before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid #666666;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    top: 17px;
    transition: all 1s ease;
}

.aside_menu_paragraph + .menu{
    display: none;
 
}
.menu li:hover .menu {
    display: block;
}

.menu li:hover .aside_menu_paragraph::before {
    transform: rotate(45deg);
    border-right-color: #fff;
    border-bottom-color: #fff;
}

.aside_submenu_paragraph:hover{
    background-color: #cecedd;
    background-image: url("img/icons/menu_of.svg");
}


.menu li:hover > .aside_menu_paragraph {
    color: #ffffff;
    background-color: #fd8300;
}

.aside_submenu_paragraph{
    display: block;
    padding: 12px 16px;  
    padding-left: 30px;  
    background-color: #e4e4ec;
    color: #666666;
    text-decoration: none;
    border:none;
}
 
.feedback_container{
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.feedback_card_container{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.feedback_card_container h3{
    margin: 0;
    margin-bottom: 14px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";

}

.feedback_card_phone{
    padding-left: 0;
}

.feedback_card p{
    line-height: 18px;
}

.map_container{
    width: 470px;
    height: 300px;
    position: relative;
   
    overflow:hidden;
}


.feedback_container iframe{
    width: 470px;
    height: 400px;
    position: absolute;
    top: -80px;
    left: -1px;
}

.feedback_container form input{
    box-sizing: border-box;
    padding: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    margin-bottom: 9px;
}

.feedback_container form input::placeholder ,
.input_textbox::placeholder{
    font-size: 13px;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.input_text{
    width: 228px;
    height: 40px;
}

.input_text_line{
    width: 100%;
    height: 40px;

}

.input_textbox{
    padding: 15px;
    height: 105px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 12px;
}

.feedback_btn{
    color: #fff;
    background-color: #fd8300;
}

.feedback_btn:hover{
    background-color: #1f1f56;
}

.footer{
    background-color: #ededf5;
    margin-top: 50px;
    padding: 42px 0 0 0;
}

.footer_container{
    max-width: 960rem; 
    margin: auto; 
    display: flex;
    justify-content: space-between;
}

.footer_menu{
    list-style: none;
    box-sizing: border-box;
}

.footer_menu_items{
    font-size: 14px;
    text-decoration: none;
    color: #666666;
    line-height: 26px;
}

.footer_menu_items:hover{
    text-decoration: underline;
    color: #fd8300;
}

.footer_line{
    padding: 5px 0;
    margin-top: 42px;
    color: #9999a6;
    background-color: #dcdce6;
    text-align: center;
    font-size: 13px;
}